# Flood Tool Examples

## Placeholder notebook

This notebook is initially set up to allow you to quickly start demonstrating your tool. You should expect it to change a lot over the course of the week as you add features and explore the data.

The majority of your code is likely to be in your package (i.e. the `flood_tool` directory). You should import this package into this notebook and use it to show off the features of your tool.

In [1]:
import sys

# add the path to the flood_tool module so it's always found
# when we import it. Note that '..' means "go up one directory"
# from the current directory. This isn't best practice.
sys.path.append('..')
import flood_tool as ft

In [2]:
tool = ft.Tool()
tool.train()

In [3]:
tool.lookup_easting_northing(['M34 7QL'])

          easting  northing
postcode
M34 7QL    393470    394371

In [4]:
# Prediction using postcode and default model
tool.predict_flood_class_from_postcode(['M34 7QL'])

M34 7QL    1
Name: riskLabel, dtype: int32

In [5]:
import sys

# add the path to the flood_tool module so it's always found
# when we import it. Note that '..' means "go up one directory"
# from the current directory. This isn't best practice.
sys.path.append('..')
import flood_tool as ft

data = ft.get_latest_rainfall_readings()
data.head()

                                            value qualifier unitName parameter
stationReference dateTime
                 2023-11-19 16:48:42+00:00    0.2                     rainfail
                 2023-11-20 00:57:18+00:00    0.1                     rainfail
                 2023-11-20 05:00:00+00:00    0.0                     rainfail
                 2023-11-20 05:00:00+00:00    0.0                     rainfail
                 2023-11-20 05:00:00+00:00    1.6                     rainfail

In [6]:

data = ft.get_live_station_data('079621')
data.head()

,@id,dateTime,measure,value
0,http://environment.data.gov.uk/flood-monitorin...,2023-11-20T06:00:00Z,http://environment.data.gov.uk/flood-monitorin...,0.0
1,http://environment.data.gov.uk/flood-monitorin...,2023-11-20T05:45:00Z,http://environment.data.gov.uk/flood-monitorin...,0.0
2,http://environment.data.gov.uk/flood-monitorin...,2023-11-20T05:30:00Z,http://environment.data.gov.uk/flood-monitorin...,0.0
3,http://environment.data.gov.uk/flood-monitorin...,2023-11-20T05:15:00Z,http://environment.data.gov.uk/flood-monitorin...,0.0
4,http://environment.data.gov.uk/flood-monitorin...,2023-11-20T05:00:00Z,http://environment.data.gov.uk/flood-monitorin...,0.0